h1{

width: 100%;
color: white;
background-color: Navy;
text-align: center;

}


h2{

width: 100%;
color: white;
background-color: Blue;
text-align: left;

}

h5{

width: 100%;
color: white;
background-color: Grey;
text-align: left;

}


#Lyon {

    width: 100%;
    color: white;
    background-color: Blue;
    text-align: left;
    
    }


#Paris {

width: 100%;
color: white;
background-color: Blue;
text-align: left;

}


#Marseille {

width: 100%;
color: white;
background-color: Blue;
text-align: left;
        
        }
                

.flex {
    display:flex;
}

.city {

    
}
